<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <script src="./app/lib/angular.min.js"></script>
    <script src="app/lib/angular-animate.min.js"></script>
    <script src="app/app.js"></script>
    <script src="./app/lib/angular-route.min.js"></script>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- <p>Name : <input type="text" ng-model="firstname"></p>
    <p>You wrote:{{firstname}}</p>
    <div ng-init="names=['manav','bansal','gani','aaa']">
      <ul>
        <li ng-repeat="x in names">
          {{x}}
        </li>
      </ul>

    // root-scope example  
    </div> -->
    <!-- <div>
     {{message}}
    </div> -->
    
    <!-- my scope example  -->
    <!-- <div ng-controller="myctrl">
      <h1>{{message}}</h1>
      <ul>
        <li ng-repeat="x in arr">{{ x }}</li>
      </ul>
    </div> -->

    <!-- including common files  -->
    <header ng-include="'header.html'"></header>
    <main ng-view></main>
  </body>
</html>
